<h1>Pirate</h1>
<p>
Name: <%= @pirate.name%>
Weight: <%= @pirate.weight%> lbs
Height: <%= @pirate.height%> in
</p>

<p>
<h2>Ships</h2>
<% @ships.each do |ship|%>
<%= ship.name%>
<%= ship.type%>
<%= ship.booty%>
<%end%>
</p>